<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="agentAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/home/admin/logs/agent/agent.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
    <param name="encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss},%p,%c{1},%m%n"/>
    </layout>
  </appender>

  <logger name="com.taovip.agent"
    additivity="false">
    <level value="INFO"/>
    <appender-ref ref="agentAppender"/>
  </logger>

</log4j:configuration> 
